<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<style>
    form {
    text-align:center;
    }
    h1 {
    text-align:center;
    color:OrangeRed;
    }
    input {
    border:2px solid black;
    padding:8px;
    text-align:center;
    background-color:PaleGoldenrod;
    }
</style>
<body style="background-color:Thistle;background-image: url('/media/pictures/mountain.jpg');">
<h1>Registration form</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"><br>
    <input type="text" name="firstname" placeholder="FirstName"><br>
    <input type="text" name="lastname" placeholder="LastName"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="PassWord"><br>
    <input type="password" name="password2" placeholder="Confirm Password"><br>
    <input type="submit"><br>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>